[submodule "components/hagl"]
	path = components/hagl
	url = https://github.com/allenck/hagl.git
[submodule "components/hagl_hal"]
        path = components/hagl
        url = https://github.com/allenck/hagl_esp_mipi.git
[submodule "components/font_render/freetype2"]
	path = components/font_render/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "components/hagl_hal/components/hagl_hal"]
	path = components/hagl_hal/components/hagl_hal
	url = https://github.com/allenck/hagl_esp_mipi.git
